.event-list-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.event-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.event-card {
  background: #2c2c2c;
  color: #fff;
  border-radius: 8px;
  padding: 20px;
  width: 100%;
  max-width: 32rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

.event-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.description-box {
  background-color: #f9f9f9;
  color: black;
  font-size: 18px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}

/* Light mode adjustments */
.light-mode .event-card {
  background: #fff;
  color: #333;
  border: 1px solid #ddd;
}
