/* Base Styling */
body,
html,
.App {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

.App-header,
.App-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  flex-shrink: 0;
}

/* Light Mode */
.light-mode {
  background-color: #f9f9f9;
  color: #333;
}

.light-mode .theme-toggle-btn {
  color: yellow;
}

.light-mode li {
  background-color: #fff;
  color: #333;
}

/* Dark Mode */
.dark-mode {
  background-color: #121212;
  color: #f9f9f9;
}

.dark-mode .theme-toggle-btn {
  color: red;
}

.dark-mode li {
  background-color: #1f1f1f;
  color: #fff;
}
